## Handling messy csv file using pandas

In [1]:
import pandas as pd

In [2]:
filepath = "data/EQUITY_L.csv"
df = pd.read_csv(filepath)

In [3]:
df

,,,,,,,,This,is,a file
SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,NaN,YahooEquiv,Yahoo_Equivalent_Code
20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5,.NS,20MICRONS.NS,"'20MICRONS.NS',"
21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
...,...,...,...,...,...,...,...,...,...,...
ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'
This is the end of the file,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head()

,,,,,,,,This,is,a file
SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,NaN,YahooEquiv,Yahoo_Equivalent_Code
20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5,.NS,20MICRONS.NS,"'20MICRONS.NS',"
21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"

In [5]:
df.tail()

,,,,,,,,This,is,a file
ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'
This is the end of the file,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1667 entries, ('SYMBOL', 'NAME OF COMPANY', ' SERIES', ' DATE OF LISTING', ' PAID UP VALUE', ' MARKET LOT', ' ISIN NUMBER', ' FACE VALUE') to ('This is the end of the file', nan, nan, nan, nan, nan, nan, nan)
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   This     1665 non-null   object
 1    is      1666 non-null   object
 2    a file  1666 non-null   object
dtypes: object(3)
memory usage: 333.7+ KB

In [7]:
df.index

MultiIndex([(                     'SYMBOL', ...),
            (                  '20MICRONS', ...),
            (                 '21STCENMGM', ...),
            (                 '3IINFOTECH', ...),
            (                    '3MINDIA', ...),
            (                     '3PLAND', ...),
            (                     '5PAISA', ...),
            (                    '63MOONS', ...),
            (                    '8KMILES', ...),
            (                   'A2ZINFRA', ...),
            ...
            (                 'ZENSARTECH', ...),
            (                     'ZENTEC', ...),
            (                      'ZICOM', ...),
            (                 'ZODIACLOTH', ...),
            (                  'ZODJRDMKJ', ...),
            (                       'ZOTA', ...),
            (                      'ZUARI', ...),
            (                  'ZUARIGLOB', ...),
            (                  'ZYDUSWELL', ...),
            ('This is the end of the file', ...)],
           length=1667)

* Header is not appropriate
* Multiple index are present

#### <span style = 'color:blue'/> 1. Reset the header to row 1</span>

In [8]:
df = pd.read_csv(filepath, header=1)
df.head()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
0,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5.0,1.0,INE144J01027,5.0,.NS,20MICRONS.NS,"'20MICRONS.NS',"
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10.0,1.0,INE253B01015,10.0,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
2,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10.0,1.0,INE748C01020,10.0,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
3,3MINDIA,3M India Limited,EQ,13-Aug-04,10.0,1.0,INE470A01017,10.0,.NS,3MINDIA.NS,"'3MINDIA.NS',"
4,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95,2.0,1.0,INE105C01023,2.0,.NS,3PLAND.NS,"'3PLAND.NS',"

In [10]:
df.index

RangeIndex(start=0, stop=1666, step=1)

In [11]:
df.tail()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
1661,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10.0,1.0,INE358U01012,10.0,.NS,ZOTA.NS,"'ZOTA.NS',"
1662,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10.0,1.0,INE840M01016,10.0,.NS,ZUARI.NS,"'ZUARI.NS',"
1663,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10.0,1.0,INE217A01012,10.0,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1664,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10.0,1.0,INE768C01010,10.0,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'
1665,This is the end of the file,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### <span style = 'color:blue'/> 2. Drop the last row</span>

In [14]:
df.drop(index=1665, axis=0, inplace=True)

In [13]:
df

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
0,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5.0,1.0,INE144J01027,5.0,.NS,20MICRONS.NS,"'20MICRONS.NS',"
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10.0,1.0,INE253B01015,10.0,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
2,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10.0,1.0,INE748C01020,10.0,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
3,3MINDIA,3M India Limited,EQ,13-Aug-04,10.0,1.0,INE470A01017,10.0,.NS,3MINDIA.NS,"'3MINDIA.NS',"
4,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95,2.0,1.0,INE105C01023,2.0,.NS,3PLAND.NS,"'3PLAND.NS',"
...,...,...,...,...,...,...,...,...,...,...,...
1661,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10.0,1.0,INE358U01012,10.0,.NS,ZOTA.NS,"'ZOTA.NS',"
1662,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10.0,1.0,INE840M01016,10.0,.NS,ZUARI.NS,"'ZUARI.NS',"
1663,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10.0,1.0,INE217A01012,10.0,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1664,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10.0,1.0,INE768C01010,10.0,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'
1665,This is the end of the file,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.isnull().sum()

SYMBOL                   0
NAME OF COMPANY          0
 SERIES                  0
 DATE OF LISTING         0
 PAID UP VALUE           0
 MARKET LOT              0
 ISIN NUMBER             0
 FACE VALUE              0
Unnamed: 8               0
YahooEquiv               0
Yahoo_Equivalent_Code    0
dtype: int64

In [17]:
df.columns

Index(['SYMBOL', 'NAME OF COMPANY', ' SERIES', ' DATE OF LISTING',
       ' PAID UP VALUE', ' MARKET LOT', ' ISIN NUMBER', ' FACE VALUE',
       'Unnamed: 8', 'YahooEquiv', 'Yahoo_Equivalent_Code'],
      dtype='object')

#### <span style = 'color:blue'/> 3. Performing all operation while reading the data</span>

In [18]:
col_name = ['Symbol','Company','Series','Listing_Date','Paid_up_Value','Market_Lot','ISIN_Number','Face_Value',
           'Unanamed','Yahoo_Equiv','Yahoo_Equivalent_Code']

In [19]:
df2 = pd.read_csv(filepath,skiprows=2, skipfooter=1, header=None, names=col_name)

C:\Users\Prerana\AppData\Local\Temp\ipykernel_27808\3157188525.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df2 = pd.read_csv(filepath,skiprows=2, skipfooter=1, header=None, names=col_name)

In [20]:
df2.head()

,Symbol,Company,Series,Listing_Date,Paid_up_Value,Market_Lot,ISIN_Number,Face_Value,Unanamed,Yahoo_Equiv,Yahoo_Equivalent_Code
0,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5,.NS,20MICRONS.NS,"'20MICRONS.NS',"
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
2,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
3,3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
4,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95,2,1,INE105C01023,2,.NS,3PLAND.NS,"'3PLAND.NS',"

In [21]:
df2.tail()

,Symbol,Company,Series,Listing_Date,Paid_up_Value,Market_Lot,ISIN_Number,Face_Value,Unanamed,Yahoo_Equiv,Yahoo_Equivalent_Code
1660,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,19-Jul-95,10,1,INE077B01018,10,.NS,ZODJRDMKJ.NS,"'ZODJRDMKJ.NS',"
1661,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
1662,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
1663,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1664,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'

**END**